<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Nhan viên Choichoi</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'homepage/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'homepage/css/sb-admin-2.min.css' %}" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Nhân viên <sup>*</sup>CHOICHOI <sup>*</sup></div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="#">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Bảng thống kê </span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Cửa hàng
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Thành phần </span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Đặt hàng</h6>
                        <a class="collapse-item" href="http://127.0.0.1:8000/admin/order/order/">Đơn đặt</a>
                        <h6 class="collapse-header">Sản phẩm </h6>
                        <a class="collapse-item" href="http://127.0.0.1:8000/admin/product/product/add/">Sản phẩm mới</a>
                        <a class="collapse-item" href="http://127.0.0.1:8000/admin/product/variation/add/">Đưa sản phẩm nên shop</a>
                        <a class="collapse-item" href="http://127.0.0.1:8000/admin/product/variation/{{varid}}/change/">Sản phẩm yêu thích nhất </a>

                        <h6 class="collapse-header">Phản hồi của khách hàng  </h6>
                        <a class="collapse-item" href="http://127.0.0.1:8000/admin/user/comment/">Bình luận </a>
                        <a class="collapse-item" href="http://127.0.0.1:8000/admin/user/love/"> Vote </a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Utilities Collapse Menu -->


            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>


        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>




                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">


                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Tài khoản </span>
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'core:login' %}" data-toggle="modal" data-target="#logoutModal">
                                    <a href="{% url 'core:login' %}" style="text-color:black"><i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout</a>
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Thống kê chung</h1>
                    </div>

                    <!-- Content Row -->
                    <div class="row">

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">

                                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                                Thu nhập trong ngày </div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{money_onday}}</div>
                                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1" style="margin-top:20px">
                                                So sánh ngày trước  </div>
                                            {% if money_change > 0 %}
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">Tăng {{money_change}}% </div>
                                            {% elif money_change == 0 %}
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">Không thay đổi  </div>
                                            {% else %}
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">Giảm {{money_change|slice:"1:"}} %  </div>
                                            {% endif %}

                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                                Trung bình rate trong ngày </div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{love_onday}}</div>
                                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1" style="margin-top:20px">
                                                So sánh ngày trước  </div>

                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{love_lastday}}  </div>

                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-info shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                                Comment trong ngày </div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{listComment|length}}</div>
                                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1" style="margin-top:20px">
                                                So sánh ngày trước  </div>
                                            {% if comment_change > 0 %}
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">Tăng {{comment_change}} Bình luận  </div>
                                            {% elif comment_change == 0 %}
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">Không thay đổi  </div>
                                            {% else %}
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">Giảm {{comment_change|slice:"1:"}} Bình luận   </div>
                                            {% endif %}
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Pending Requests Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-warning shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                                Order trong ngày </div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{listOrder|length}}</div>
                                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1" style="margin-top:20px">
                                                So sánh ngày trước  </div>
                                            {% if order_change > 0 %}
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">Tăng {{order_change}} đơn </div>
                                            {% elif order_change == 0 %}
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">Không thay đổi  </div>
                                            {% else %}
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">Giảm {{order_change|slice:"1:"}} đơn  </div>
                                            {% endif %}

                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Content Row -->

                    <div class="row">

                        <!-- Area Chart -->
                        <div class="col-xl-8 col-lg-7">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Thu nhập qua các tháng </h6>
                                    <div class="dropdown no-arrow">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                            aria-labelledby="dropdownMenuLink">
                                            <div class="dropdown-header">Chọn năm :</div>
                                            <a class="dropdown-item" href="#">2021</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="chart-area">
                                        <canvas id="myAreaChart"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Pie Chart -->
                        <div class="col-xl-4 col-lg-5">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Thống kê thu nhập theo loại sản phẩm </h6>
                                    <div class="dropdown no-arrow">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                            aria-labelledby="dropdownMenuLink">
                                            <div class="dropdown-header">Chọn năm:</div>
                                            <a class="dropdown-item" href="#">2021</a>

                                        </div>
                                    </div>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">

                                    <div class="chart-pie pt-4 pb-2">
                                        <canvas id="myPieChart"></canvas>
                                    </div>
                                    <div class="mt-4 text-center small">
                                        <span class="mr-2">
                                            <i class="fas fa-circle text-primary"></i> Đồ điện tử
                                        </span>
                                        <span class="mr-2">
                                            <i class="fas fa-circle text-success"></i> Sách
                                        </span>
                                        <span class="mr-2">
                                            <i class="fas fa-circle text-info"></i> Quần áo
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->

            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>


    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'homepage/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'homepage/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'homepage/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'homepage/js/sb-admin-2.min.js' %}"></script>

    <!-- Page level plugins -->
    <script src="{% static 'homepage/vendor/chart.js/Chart.min.js' %}"></script>
    <script>
        let costs = [];
        {% for cost in list_cost %}
        costs.push(parseInt("{{cost}}"));
        {% endfor %}
        var x = parseInt("{{elec_cost}}");
        var y = parseInt("{{book_cost}}");
        var z = parseInt("{{cloth_cost}}");
    </script>
    <!-- Page level custom scripts -->
<!--    <script src="{% static 'homepage/js/chart-pie-demo2.js' %}"></script>-->
    <script src="{% static 'homepage/js/demo/chart-area-demo2.js' %}"></script>



</body>

</html>